

#search-input {
  display: none;
  width: 200px;
  padding: 10px;
  border: 3px solid #86644f;
  border-radius: 4px;
  background-color: transparent;
  margin-right: 10px;
}

#search-button {
  background-color: transparent;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

#search-button:hover {
  color: #fff;
  background-color: #000;
  transition-duration: 0.9s;
}



.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
}
.carousel-slide {
  display: none; /* Ocultar todas las diapositivas por defecto */
  flex: 0 0 100%;
  text-align: center;
}

.carousel-slide img {
  width: 100%;
  vertical-align: middle;
  margin-top: 20px;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
}

/* Estilos para Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  margin-right: 3.5rem;
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #000;
}
.dropdown:hover #logoRegistro {
  fill: #bfa989;
}

.prev{
  margin-left: 20%;
}
.next{
  margin-right: 20%;
}
.prev {
  left: 0;
}

.next {
  right: 0;
}


  h2{
    margin-left: 3rem;
    margin-top: 100px !important; 

    
  }
  
  #cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2rem;
    margin-top: 0;
  }
  
  .card {
    width: calc(29% - 34px);
    /* Ancho de cada card (33.33% del ancho total menos el espaciado) */
    margin: 10px;
    /* Espaciado entre las cards */
    display: inline-block;
    /* Mostrar en línea para formar filas */
    vertical-align: top;
    /* Alinear en la parte superior de la fila */
    box-shadow: 0px 0px 9px 3px rgb(0 0 0);
    scale: 0.7;
  }
  