body{
    margin: 0%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #90beab;
}
.liheader{
   
    border-radius: 8%;
    background-color: #d3bcf6;
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin: 1em;
    padding: 0.5em;
  
}
.Botones{
    color: black;
}
a{
    text-decoration: none;
}
.logo{
    width: 40px;  
    padding: 10px;
}


footer{
    display: flex;
    justify-content: left;
    align-items: end;
    background-color: #90beab;
}
.logos{
    margin: 10px;
}
.carousel {
    width: 50%;
    overflow: hidden;

  }
  
  .carousel-slide {
    display:block;
    text-align: center;
  }
  
  .carousel-slide img {
    width: 30%;
    height: auto;
  }
  