body{
    margin: 0%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ab811f;
}
.headerlist{
    display: flex;
    justify-content: space-between;
    /* align-content: stretch; */
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: center;
}

.liheader{
   
    border-radius: 8%;
    background-color: none;
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    margin: 1em;
    padding: 0.5em;
  
}
.Botones{
    color: black;
}

a {
    text-decoration: none;
    position: relative;
    color: #000;
  }
  
  .Botones:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: darkgreen;
    visibility: visible;
    transform: scaleX(0);
    transition: all 0.9s ease-out 0s;
  }
  
  .Botones::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: darkgreen;
    visibility: hidden;
    transform: scaleX(1);
    transition: all 0.9s ease-in-out 0s;
  }
  
.logo{
    width: 40px;  
    padding: 10px;
}

.search-box {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #c2bebe;
    border-radius: 25px;
    transition: width 0.5s ease-in-out;
    cursor: pointer;
    margin-right: 50px;
  }

  .search-box:hover {
    width: 120px;
  }

  .search-box input[type="text"] {
    position: absolute;
    top: 0;
    background-color: #c2bebe;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1px;
    padding-left: 40px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .search-box:hover input[type="text"] {
    opacity: 1;
  }

  .search-box i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #000;
  }

footer{
    display: flex;
    justify-content: left;
    align-items: end;
    background-color: #ab811f;
}
.logos{
    margin: 10px;
}
.carousel {
    width: 50%;
    overflow: hidden;

  }
  
  .carousel-slide {
    display:block;
    text-align: center;
  }
  
  .carousel-slide img {
    width:  20%;
    height: 20%;
  }
  